.authContainer {
    height: 70vh;
    width: 100vw;
    background: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth_input_container{
    height: auto;
    width: 500px;
    background: white;
    border-radius: 8px;
    box-shadow: 5px 5px 20px rgb(85,39,194);
}
.register_heading{
    width: 100%;
    color: rgb(85,39,194);
    text-align: center;
    margin-top: 50px;
}
.mobile_number_input{
    height: 36px;
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    -moz-appearance: none;
}
.GET_OTP_btn{
    width: 90%;
    padding: 16px;
    color: white;
    background: rgb(85,39,194);
    font-size: 1.2rem;
    margin: 20px auto;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
}
@media (max-width: 400px) {
    .auth_input_container{
        width: 90%;
    }
}