.Dashboard{
    min-width: 100vw;
    margin-top: 78px;
}
.Dashboard_block{
    margin: 8px;
}
.Dashboard_row { 
    display: flex;
}
.Dashboard_menu_column{
    flex-grow: 1;
    background: #fafafa;
    margin-right: 8px;
    height: 100%;
}
.Dashboard_info_column{
    flex-grow: 4;
    background: #fcfcfc;
}
.Dashboard_menu_items{
    height: 100%;
}
.Dashboard_menu_item{
    margin-bottom: 8px;
    padding: 16px;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    background: #233286;
    border-radius: 8px;
    transition: all linear 0.5s;
}
.Dashboard_menu_item:hover {
    margin-left: 24px;
}
.activeComp {
    background: #7183e6;
    
}
@media (max-width: 500px){
    .Dashboard_row { 
        display: block;
    }
}