.imageContainer {
    position: relative;
    width: 100%;
    height: 79vh;
    margin-bottom: 71px;
    top: 71px;
    overflow: hidden;
}
.Carousel_Image{
    width: 100%;
    height: 91vh;
}

.imageContainer_bg_mask{
    background: #1b33bd;
    opacity: 0.8;
    position: absolute;
    bottom: -20vh;
    left: 0px;
    width: 100%;
    height: 40vh;
    border-radius: 18%;
}
.ImageContainer_main_heading {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.TillNow {
    width: 100%;
    margin-top: 32px;
}
.TillNow_Heading{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 32px;
}
.TillNow_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}