.ServiceCard {
    border: 2px solid #888;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 10px;
    flex-basis: 25.33%;
    max-width: 300px !important;
    max-height: 222px;
    margin: 16px 32px;
    text-align: left;
    overflow-y: auto;
    color: black;
}
.TillNowCard{
    border: 2px solid #888;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 10px;
    flex-basis: 15%;
    max-width: 300px !important;
    min-width: 150px;
    max-height: 222px;
    margin: 16px 32px;
    text-align: left;
    overflow-y: auto;
    color: black;
}
.Service_title{
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Service_desc{
    font-size: 1rem;
    line-height: 1.4;
}
.ServiceCard:hover{
    background: rgba(85,26,139,0.8);
    color: white;
}
.TillNowCard:hover{
    background: #888;
    color: white;
}
.TillNow_title{
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.TillNow_desc{
    font-size: 1rem;
    line-height: 1.4;
}
@media (max-width: 400px){
    .ServiceCard{
        flex-basis: 80%;
    }
    .TillNowCard{
        flex-basis: 20%;
        padding: 0.8rem;
        margin: 4px;
    }
}

    

