.Header{
    display: flex;
    height: 71px;
    width: 100%;
    padding: 0px 16px;
    box-shadow: 2px 2px #eee;
    background-color: #fff;
    position: fixed;
    top: 0px;
    z-index: 2;
    overflow: hidden;
}
.NewHeader{
    display: flex;
    height: 71px;
    margin-top: 71px;
    width: 100%;
    padding: 0px 16px;
    box-shadow: 2px 2px #eee;
    background-color: #fff;
    z-index: 2;
    overflow: hidden;
}
.Header_Logo_Img{
    width: 50px;
}
.mobileHeader{
    display: none !important;
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
}
.Header_Login{
    background-color: #fff;
    color: #233286;
    border: 2px solid #233286;
    padding: 8px;
    border-radius: 4px;
    font-weight: 500;
}
.Header_Login:hover{
    background-color: #233286;
    color: #fff;
}
@media (max-width: 500px) {
    .Header{
        display: none;
    }
    .mobileHeader{
        display: flex !important ;
    }
    .NewHeader{
        display: none;
    }
}

.Header_Logo_Block{
    margin: 0px;
    padding: 20px;
    vertical-align: middle;
    width: 158px;
    flex-grow: 1;
}
.Logo_niti{
    color: #233286;
    font-size: 1.4rem;
    display: flex;
}
.Web_Name{
    font-weight: 500;
    font-size: 1.7rem;
}
.Header_Items_Block{
    margin-left: 0px;
    display: flex;
    flex-grow: 4;
    justify-content: space-around;
}
.NewHeader_Items_Block{
    margin-left: 0px;
    display: flex;
    flex-grow: 4;
    justify-content: space-around;
}
.Header_Auth_Block{
    padding: 20px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around
}
.User_Avatar{
    padding: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    background: rgb(85,26,139);
    font-weight: 800;
    text-align: center;
    margin-right: 8px;
}
.User_Avatar:hover {
    color: white;
}
@media (max-width: 400px){
    .Header_Items_Block{
        display: none;
    }
}